# Pythonの実行 2

## 配列

配列の宣言は

    array1 = []
もしくは

    array1 = list()
で行う

    array1 = [1,2,3]
    array2 = [4,5,6]
の形で初期化も可能

In [1]:
array1 = [1,2,3]
array2 = [4,5,6]
#代入
array3 = array2
print(array3)
#結合
array3.extend(array1)
print(array3)
#ソート
array3.sort()
print(array3)
#逆順
array3.reverse()
print(array3)

[4, 5, 6]
[4, 5, 6, 1, 2, 3]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

## 条件分岐

if文による条件分岐の基本的な形は以下のようになる <br>

    if 条件式1: 
        '条件式1がTrueの時に行う処理' 
    elif 条件式2: 
        '条件式1がFalseで条件式2がTrueの時に行う処理'
    elif 条件式3: 
        '条件式1,2がFalseで条件式3がTrueの時に行う処理'
    ...
    else:
        '全ての条件式がFalseのときに行う処理'

In [1]:
num1 = 100
num2 = 200
if num1 < num2:
    print("num2のほうが大きい")
else :
    print("num1のほうが大きい")

num2のほうが大きい

## ループ処理

for文によるループの基本的な形は以下のようになる <br>

    for 変数名 in イテラブルオブジェクト:
        処理
イテラブルオブジェクトの内容が順番に変数に代入され処理が繰り返される。
<br>※イテラブルオブジェクトとは、複数の要素が入った繰り返し処理可能なオブジェクト<br>
配列はイテラブルオブジェクトの一つ

In [1]:
array1 = ["a","b","c"]#文字の入った配列
for i in array1:
    print(i) #iに"a","b","c"が順番に入る
    
#rangeを用いるとカウンタを利用できる
for i in range(3):
    print(i, array1[i]) #iに0,1,2が順番に入る 配列array1に[]を使ってアクセスしている

#if文との組み合わせ    
for i in range(10):
    if 4<i and i<7:
        print(i)

a
b
c
0 a
1 b
2 c
5
6

#課題

10個の数値が入った配列array1内に10以上の数値がいくつあるかカウントして表示するコードを入力し，実行せよ

In [7]:
array1 = [1,4,7,12,34,6,0,21,5,10] #数値の入った配列

#countに10以上の数値がカウントされるようにする
count = 0

for i in array1: #iにarray1の中身が順番に入る
  if i>=10: #この行のifに条件式を追加する
    count+=1  #上のif文の条件を満たす場合countが1増える

print(count)

4